.navbar-brand > img{
    height:35px;
    padding: auto;
    margin-top: -13%;
}
.area{
    color:gray;
    height: 250px;
    width: 46%;
}
.main-content{
    height: 230px;
    border: 2px solid red;
    margin-bottom: 1%;
}
.main-content > img{
    height: 229px;
    border-radius: 5%;
    width: 150px;
    overflow-x: hidden;
}