.navbar-brand > img{
    height:35px;
    padding: auto;
    margin-top: -13%;
}
.area{
    color:gray;
    height: 250px;
    width: 46%;
}
.main-content > h3{
    color: #ff6c2f;
    margin-left: 3%;
}