<!DOCTYPE html>
<html lang="en">
<head>
    <title>Demo Body-Parser Module</title>
</head>
<body>
    <h1>Demo Form</h1>
    <form action="saveData" method="post">
        <pre>
            Enter your Full Name: <input type="text" name="fullname"><br/>
            Enter your Email Adress: <input type="text" name="email"><br/>
            <input type="submit" value="Submit">
        </pre>
    </form>
</body>
</html>